# ENVIRONMENT
NODE_ENV=development

# 
PORT=3000

# Log(0-error || 1-warn || 2-info || 3-http || 4-verbose || 5-debug || 6-silly)
LOG_LEVEL = silly

# MAPBOX
MAPBOX_PATH = https://api.mapbox.com/geocoding/v5
MAPBOX_ENDPOINT = /mapbox.places
MAPBOX_API_KEY = your api key
