# ENVIRONMENT
NODE_ENV=development

# 
PORT=3000

# LOGGER
# levels: ( 0-error || 1-warn || 2-info || 3-http || 4-verbose || 5-debug || 6-silly )
LOG_LEVEL="complete with the log level"

# MAPBOX
MAPBOX_PATH=https://api.mapbox.com/geocoding/v5
MAPBOX_ENDPOINT=/mapbox.places
MAPBOX_API_KEY="your Mapbox api key"

# OPENWEATHERMAP API
OWM_PATH=https://api.openweathermap.org/data/2.5
OWM_ENDPOINT=/weather
# measurement: (ºF: imperial - ºC: metric - ºK: standard )
OWM_MEASUREMENT=metric
OWM_API_KEY="your Open Weather Map api key"

# MAPBOX & OPENWEATHERMAP LANGUAGE

APIS_LANGUAGE=es